<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timeflies">

    //数据库权限文件
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimeFlies.Fullscreen">
        <activity
            android:name=".ClockManage"
            android:exported="false" />
        <activity
            android:name=".MenuClock"
            android:exported="false" />
        <activity
            android:name=".MenuSetting"
            android:exported="false" />
        <activity
            android:name=".MenuAdded"
            android:exported="false" />
        <activity
            android:name=".MenuGlobalSet"
            android:exported="false" />
        <activity
            android:name=".MenuAlarm"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".MenuAbout"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/popup_show" />

        <activity
            android:name=".AddCourse"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>